Repository banhidaimatyas/Proj1-minecraft-9C, pull requests merged in 2023-03, with the labels that each got.

#60 59 mobok oldal oszlopai és olvashatósága
  mobok.html
  style.css
Labels: Javítás

#61 Kvíz kinézet javítása
  jsscript.js
  quiz.html
  style.css
Labels: HTML, CSS, Bootstrap

#65 Rólunk oldal szövege 1/2
  Forrasok/egyéb szövegek
Labels: Szövegek

#66 interaktivitás a mobok oldalon
  mobok.html
  style.css
Labels: HTML, CSS

#71 67 munkamegosztás a rólunk oldalra táblázatban
  rólunk.html
Labels: HTML, Bootstrap

#72 68 könyvjelzők biomok oldalra
  biomok.html
  style.css
Labels: CSS, Bootstrap

#70 69 könyvjelzők a mobok oldalra táblázatban
  .vscode/settings.json
  jsscript.js
  mobok.html
  style.css
Labels: HTML, CSS, Bootstrap

#75 utolsó simítás
  Forrasok/kepek/alvilág.jpg
  biomok.html
  style.css
Labels: Javítás, HTML, CSS

#78 77 hibák javítása
  jsscript.js
  mobok.html
  style.css
Labels: Javítás
