Repository banhidaimatyas/Proj1-minecraft-9C, pull requests merged in 2023-02, with the labels that each got.

#1 Szia
  README.md
Labels: help wanted

#9 mappák+szöveg elkezdve
  Forrasok/mobok/ellenséges/creeper/creeper.txt
  Forrasok/mobok/ellenséges/csontváz/csontváz.txt
  Forrasok/mobok/ellenséges/ezüstmoly/ezüstmoly.txt
  Forrasok/mobok/ellenséges/fantom/fantom.txt
  Forrasok/mobok/ellenséges/fosztogató/fosztogató.txt
  Forrasok/mobok/ellenséges/hoglin/hoglin.txt
  Forrasok/mobok/ellenséges/magmakocka/magmakocka.txt
  Forrasok/mobok/ellenséges/nyálka/nyálka.txt
  Forrasok/mobok/ellenséges/szellem/szellem.txt
  Forrasok/mobok/ellenséges/warden/warden.txt
  Forrasok/mobok/ellenséges/zombi/zombi.txt
  Forrasok/mobok/ellenséges/őrláng/őrláng.txt
  Forrasok/mobok/ellenséges/őrszem/őrszem.txt
  Forrasok/mobok/főellenség/endsárkány/endsárkény.txt
  Forrasok/mobok/főellenség/wither/wither.txt
  Forrasok/mobok/passzív/axolotl/axolotl.txt
  Forrasok/mobok/passzív/bárány/bárány.txt
  Forrasok/mobok/passzív/csirke/csirke.txt
  Forrasok/mobok/passzív/denevér/denevér.txt
  Forrasok/mobok/passzív/falusi/falusi.txt
  Forrasok/mobok/passzív/gombatehén/gombatehén.txt
  Forrasok/mobok/passzív/göbhal/gömbhal.txt
  Forrasok/mobok/passzív/halak/halak.txt
  Forrasok/mobok/passzív/hóember/hóember.txt
  Forrasok/mobok/passzív/ló/ló.txt
  Forrasok/mobok/passzív/macska/macska.txt
  Forrasok/mobok/passzív/malac/malac.txt
  Forrasok/mobok/passzív/papagáj/papagáj.txt
  Forrasok/mobok/passzív/róka/róka.txt
  Forrasok/mobok/passzív/tehén/tehén.txt
  Forrasok/mobok/passzív/teknős/teknős.txt
  Forrasok/mobok/passzív/tintahal/tintahal.txt
  Forrasok/mobok/semleges/delfin/delfin.txt
  Forrasok/mobok/semleges/enderman/enderman.txt
  Forrasok/mobok/semleges/farkas/farkas.txt
  Forrasok/mobok/semleges/láma/láma.txt
  Forrasok/mobok/semleges/méh/méh.txt
  Forrasok/mobok/semleges/piglin/piglin.txt
  Forrasok/mobok/semleges/vasgólem/vasgólem.txt
  Forrasok/mobok/semleges/zombimalacember/zombimalacember.txt
Labels: javítás

#11 Képek elrendezése (kivágása+beillesztése), helyesírás
  Forrasok/mobok/ellenséges/boszorkány/boszorkany.png
  Forrasok/mobok/ellenséges/creeper/creeper.png
  Forrasok/mobok/ellenséges/csontváz/csontváz.png
  Forrasok/mobok/ellenséges/ezüstmoly/ezüstmoly.png
  Forrasok/mobok/ellenséges/fantom/fantom.png
  Forrasok/mobok/ellenséges/fosztogató/fosztogató.png
  Forrasok/mobok/ellenséges/hoglin/hoglin.png
  Forrasok/mobok/ellenséges/magmakocka/magmakocka.png
  Forrasok/mobok/ellenséges/nyálka/nyálka.png
  Forrasok/mobok/ellenséges/szellem/szellem.png
  Forrasok/mobok/ellenséges/warden/warden.png
  Forrasok/mobok/ellenséges/zombi/zombi.png
  Forrasok/mobok/ellenséges/őrláng/őrláng.png
  Forrasok/mobok/ellenséges/őrszem/őrszem.png
  Forrasok/mobok/főellenség/endsárkány/endsárkány.png
  Forrasok/mobok/főellenség/endsárkány/endsárkány.txt
  Forrasok/mobok/főellenség/wither/wither.png
  Forrasok/mobok/passzív/axolotl/axolotl.png
  Forrasok/mobok/passzív/bárány/bárány.png
  Forrasok/mobok/passzív/csirke/csirke.png
  Forrasok/mobok/passzív/denevér/denevér.png
  Forrasok/mobok/passzív/falusi/falusi.png
  Forrasok/mobok/passzív/gombatehén/gombatehén.png
  Forrasok/mobok/passzív/gömbhal/gombhal.png
  Forrasok/mobok/passzív/gömbhal/gömbhal.txt
  Forrasok/mobok/passzív/halak/halak.png
  Forrasok/mobok/passzív/hóember/hóember.png
  Forrasok/mobok/passzív/ló/ló.png
  Forrasok/mobok/passzív/macska/macska.png
  Forrasok/mobok/passzív/malac/malac.png
  Forrasok/mobok/passzív/papagáj/papagáj.png
  Forrasok/mobok/passzív/róka/róka.png
  Forrasok/mobok/passzív/tehén/tehén.png
  Forrasok/mobok/passzív/teknős/teknős.png
  Forrasok/mobok/passzív/tintahal/tintahal.png
  Forrasok/mobok/semleges/delfin/delfin.png
  Forrasok/mobok/semleges/enderman/enderman.png
  Forrasok/mobok/semleges/farkas/farkas.png
  Forrasok/mobok/semleges/láma/láma.png
  Forrasok/mobok/semleges/méhe/méhe.png
  Forrasok/mobok/semleges/méhe/méhe.txt
  Forrasok/mobok/semleges/piglin/piglin.png
  Forrasok/mobok/semleges/vasgólem/vasgólem.png
  Forrasok/mobok/semleges/zombimalacember/zombimalacember.png
Labels: Javítás, Rendezés

#13 képek törölve
  Forrasok/kepek/mobokrol kepek/barlangpok.png
  Forrasok/kepek/mobokrol kepek/csontvazlo.png
  Forrasok/kepek/mobokrol kepek/ebihal.png
  Forrasok/kepek/mobokrol kepek/enderbogar.png
  Forrasok/kepek/mobokrol kepek/faltoro.png
  Forrasok/kepek/mobokrol kepek/hal.png
  Forrasok/kepek/mobokrol kepek/jegesmedve.png
  Forrasok/kepek/mobokrol kepek/kecske.png
  Forrasok/kepek/mobokrol kepek/kektunder.png
  Forrasok/kepek/mobokrol kepek/kereskedo.png
  Forrasok/kepek/mobokrol kepek/lama2.png
  Forrasok/kepek/mobokrol kepek/lazac.png
  Forrasok/kepek/mobokrol kepek/malacember.png
  Forrasok/kepek/mobokrol kepek/malaczombi.png
  Forrasok/kepek/mobokrol kepek/megfulladtcsontvaz.png
  Forrasok/kepek/mobokrol kepek/megfulladtzombi.png
  Forrasok/kepek/mobokrol kepek/nagyzombimalac.png
  Forrasok/kepek/mobokrol kepek/nagyőrszem.png
  Forrasok/kepek/mobokrol kepek/nyul.png
  Forrasok/kepek/mobokrol kepek/ocelot.png
  Forrasok/kepek/mobokrol kepek/panda.png
  Forrasok/kepek/mobokrol kepek/pok.png
  Forrasok/kepek/mobokrol kepek/sivatagizombi.png
  Forrasok/kepek/mobokrol kepek/strider.png
  Forrasok/kepek/mobokrol kepek/sulker.png
  Forrasok/kepek/mobokrol kepek/szamar.png
  Forrasok/kepek/mobokrol kepek/szurkeszamar.png
  Forrasok/kepek/mobokrol kepek/tunder.png
  Forrasok/kepek/mobokrol kepek/varangy.png
  Forrasok/kepek/mobokrol kepek/varazslo.png
  Forrasok/kepek/mobokrol kepek/vilagitotintahal.png
  Forrasok/kepek/mobokrol kepek/vindicator.png
  Forrasok/kepek/mobokrol kepek/withercsontvaz.png
  Forrasok/kepek/mobokrol kepek/zombifalusi.png
  Forrasok/kepek/mobokrol kepek/zombilo.png
Labels: Képek, Rendezés

#17 kész
  Forrasok/kepek/háttér/bedrock.webp
  Forrasok/kepek/háttér/dgyémánt.webp
  Forrasok/kepek/háttér/dkő.webp
  Forrasok/kepek/háttér/dredstone.webp
  Forrasok/kepek/háttér/dszén.webp
  Forrasok/kepek/háttér/dvas.webp
  Forrasok/kepek/háttér/fföld.webp
  Forrasok/kepek/háttér/föld.webp
  Forrasok/kepek/háttér/fű.webp
  Forrasok/kepek/háttér/gyémánt.webp
  Forrasok/kepek/háttér/kő.webp
  Forrasok/kepek/háttér/rózsa.webp
  Forrasok/kepek/háttér/szén.webp
  Forrasok/kepek/háttér/vas.webp
Labels: Képek, Forrás

#21 14 passzív és ellenséges mobokról, főellenségekről információ gyűjtése
  Forrasok/mobok/ellenséges/hoglin/hoglin.txt
  Forrasok/mobok/ellenséges/magmakocka/magmakocka.txt
  Forrasok/mobok/ellenséges/nyálka/nyálka.txt
  Forrasok/mobok/ellenséges/szellem/szellem.txt
  Forrasok/mobok/ellenséges/warden/warden.txt
  Forrasok/mobok/ellenséges/zombi/zombi.txt
  Forrasok/mobok/ellenséges/őrláng/őrláng.txt
  Forrasok/mobok/ellenséges/őrszem/őrszem.txt
  Forrasok/mobok/főellenség/endsárkány/endsárkány.txt
  Forrasok/mobok/főellenség/wither/wither.txt
  Forrasok/mobok/passzív/axolotl/axolotl.txt
  Forrasok/mobok/passzív/bárány/bárány.txt
  Forrasok/mobok/passzív/csirke/csirke.txt
  Forrasok/mobok/passzív/denevér/denevér.txt
  Forrasok/mobok/passzív/falusi/falusi.txt
  Forrasok/mobok/passzív/gombatehén/gombatehén.txt
  Forrasok/mobok/passzív/gömbhal/gömbhal.txt
  Forrasok/mobok/passzív/halak/halak.txt
  Forrasok/mobok/passzív/hóember/hóember.txt
  Forrasok/mobok/passzív/ló/ló.txt
  Forrasok/mobok/passzív/macska/macska.txt
  Forrasok/mobok/passzív/malac/malac.txt
  Forrasok/mobok/passzív/papagáj/papagáj.txt
  Forrasok/mobok/passzív/róka/róka.txt
  Forrasok/mobok/passzív/tehén/tehén.txt
  Forrasok/mobok/passzív/teknős/teknős.txt
  Forrasok/mobok/passzív/tintahal/tintahal.txt
Labels: Forrás

#31 29 főoldalra szöveg gyűjtése+quiz kérdések
  Forrasok/egyéb szövegek
  Forrasok/kepek/favicon.png
Labels: Forrás

#37 36 quiz elkészítése
  Forrasok/egyéb szövegek
  Forrasok/hangok/classic_hurt.mp3
  jsscript.js
  quiz.html
  style.css
Labels: HTML, CSS, JS

#38 readme elkészítése
  README.md
Labels: Readme

#39 35 readmemd szövegének javítása
  README.md
Labels: Javítás

#43 42 kártyák a mobok oldalon
  mobok.html
  style.css
Labels: Bootstrap

#46 Favicon beillesztése
  Forrasok/kepek/favicon.ico
  biomok.html
  index.html
  mobok.html
  quiz.html
  rólunk.html
Labels: HTML

#51 42 kártyák a mobok oldalon
  Forrasok/mobok/ellenséges/fosztogató/fosztogató.txt
  mobok.html
  style.css
Labels: HTML, CSS, Bootstrap

#55 54 dropdown menu
  jsscript.js
  style.css
Labels: CSS

#56 52 kártyák szövegeinek díszítése
  jsscript.js
  mobok.html
  style.css
Labels: HTML, CSS, JS
